<div class="d-flex justify-content-center align-items-center header-global">
    <a class="header-icon clickable me-5">
        <img class="img-fluid" src="images/header/contact.png"/>
    </a>
    <a class="header-icon clickable me-4">
        <img class="img-fluid" src="images/header/packs.png"/>
    </a>
    <a class="header-icon clickable me-4">
        <img class="img-fluid" src="images/header/logo.png"/>
    </a>
    <a class="header-icon clickable me-5">
        <img class="img-fluid" src="images/header/video.png"/>
    </a>
    <a class="header-icon clickable">
        <img class="img-fluid" src="images/header/music.png"/>
    </a>

</div>