<div class="d-flex justify-content-center align-items-center header-global">
    <a class="header-icon clickable me-5">
        <img class="img-fluid" src="/fleurescence-website/assets/images/header/contact.svg"/>
    </a>
    <a class="header-icon clickable me-4" href="/fleurescence-website/packs">
        <img class="img-fluid" src="/fleurescence-website/assets/images/header/packs.svg"/>
    </a>
    <a class="header-icon clickable me-4">
        <img class="img-fluid" src="/fleurescence-website/assets/images/header/logo.svg"/>
    </a>
    <a class="header-icon clickable me-5" href="/fleurescence-website/video">
        <img class="img-fluid" src="/fleurescence-website/assets/images/header/video.svg"/>
    </a>
    <a class="header-icon clickable">
        <img class="img-fluid" src="/fleurescence-website/assets/images/header/music.svg"/>
    </a>

</div>