.header-global{
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.clickable{
    cursor: pointer;
}

.footer-global{
    .footer-icon{
        img{
        height: 35px;
        }
    }
    .trademark{
        color: #D1CEB4;
        
    }
}