.page-content{
    display: flex;
    justify-content: center;
    .wrapper{
        max-width: 960px;
        min-width: 960px;
    }
}

.header-global{
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.clickable{
    cursor: pointer;
}

.footer-global{
    .footer-icon{
        img{
        height: 35px;
        }
    }
    .trademark{
        color: #D1CEB4;
    }
}

.page-header{
    padding-left: 15px;
    padding-top: 10px;
    .doodle{
        width: 190px;
    }
    .title{
        font-size: 60px;
        margin-top: 62px;
        font-weight: bold;
        margin-left: -62px;
    }
    .arrow{
        width: 70px;
        margin-left: 5px;
        margin-top: 120px;

    }
}

.packs{
    
}





