.page-content{
    display: flex;
    justify-content: center;
    .wrapper{
        max-width: 960px;
    }
}

.header-global{
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.clickable{
    cursor: pointer;
}

.footer-global{
    .footer-icon{
        img{
        height: 35px;
        }
    }
    .trademark{
        color: #D1CEB4;
    }
}

.page-header{
    padding-left: 15px;
    padding-top: 10px;
    min-width: 935px;
    .doodle{
        width: 190px;
    }
    .title{
        font-size: 60px;
        margin-top: 62px;
        font-weight: bold;
        margin-left: -62px;
    }
    .arrow{
        width: 70px;
        margin-left: 5px;
        margin-top: 120px;

    }
}

.packs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .freesound{
        margin-bottom: 70px;
        max-width: 112px;
    }
}


.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    .video-header{
        min-width: 935px;
        .doodle{
            width: 190px;
        }
        .title{
            font-size: 60px;
            margin-top: 28px;
            font-weight: bold;
            margin-left: -95px;
        }
    }
    .video-content{
        max-width: 664px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-title{
            width: 610px;
            margin-top: 80px;
            margin-bottom: 36px;
        }

        .leftie{
           margin-right: -30px;

           .num{
            color: rgb(33, 62, 188);
            font-weight: bold;
            font-size: 20px;
           }
           .video-arrow{
            z-index: -1;
            transform: rotate(-25deg);
            margin-bottom: -35px;
           }
        }
        .embedded{
            width: 630px;
            height: 351px;
        }
        .text-under{
            margin-top: 20px;
            margin-left: 52px;
            margin-bottom: 80px;
            font-size: 13px;
            .credits{
                font-size: 13px;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            a{
                color: black;
            }
        }
        
    }
}

.music{
    display: flex;
    flex-direction: column;
    align-items: center;
    .music-header{
        margin-bottom: 85px;
        min-width: 935px;
        .doodle{
            width: 190px;
        }
        .title{
            font-size: 60px;
            margin-top: 28px;
            font-weight: bold;
            margin-left: -95px;
        }
    }

}


.packs-content{
    max-width: 835px;
    .pack-card{
        padding-right: 32px;
        padding-left: 32px;
        padding-bottom: 64px;
        .title{
            font-size: 20px;
            margin-left: 5px;
            font-weight: 700;
        }
        .pack-line{
            width: 269px;
            margin-left: 5px;
        }
        .pack-image{
            margin-bottom: 15px;
            margin-top: 15px;
        }
        .text{
            font-size: 13px;
            line-height: 14.3px;
            margin-bottom: 20px;
        }
        .play-button{
            width: 44px;
            height: 44px;
            margin-right: 50px;
            background-repeat: no-repeat;
            background-image: url("/fleurescence-website/assets/images/packs/play-button.svg");
        }
        .pack-download{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 140px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("/fleurescence-website/assets/images/packs/download-box.png");
            font-size: 9px;
            font-weight: bold;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.45px;
            &:hover{
                letter-spacing: 2.7px;
            }
        }
    }
}

.contacts{
    width: 800px;
    max-width: 800px;
    min-width: 800px;
    .line-1{
        margin-bottom: 25px;
        align-items: center;
        
        .doodle{
            width: 307px;
        }

        .text{
            color: #707070;
            font-size: 13px;
            position: relative;
            left: 262px;
            max-width: 175px;
            text-align: center;
            a {
                text-decoration: none;
                color: #707070;
                font-weight: bold;
            }
        }
    }
    .form{
        padding-top: 35px;
        width: 642px;
        max-width: 642px;
        min-width: 642px;
        margin-left: 100px;
        .field-col{
            margin-left: 12px;
            margin-right: 12px;
            margin-bottom: 40px;
            label{
                display: block;
                margin-bottom: 5px;
                color: #2C43B5;
                font-size: 15px;
                line-height: 20px;
            }
            input{
                display: block;
                width: 265px;
                height: 56px;
                border: none;
                &:focus{
                    outline: none;
                }
            }
        }
        .field-col-lg{
            margin-left: 12px;
            margin-right: 12px;
            margin-bottom: 40px;
            label{
                display: block;
                margin-bottom: 5px;
                color: #2C43B5;
                font-size: 15px;
                line-height: 20px;
            }
            textarea{
                display: block;
                width: 587px;
                border: none;
                &:focus{
                    outline: none;
                }
            }
        }
        .submitter{
            color: #2C43B5;
            margin-bottom: 80px;
            font-size: 18px;
            font-weight: bold;
            &:hover{
                opacity: 0.6;
            }
        }
    }
}




